{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Admin Dashboard</h2>
            <a href="{{ url_for('admin_logout') }}" class="btn btn-danger">
                <i data-feather="log-out"></i> Logout
            </a>
        </div>

        <div class="row g-4">
            <div class="col-md-6">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">System Statistics</h5>
                        <ul class="list-unstyled">
                            <li>Total Games: {{ total_games }}</li>
                            <li>Total Players: {{ total_players }}</li>
                            <li>Games Today: {{ games_today }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Recent Games</h5>
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th>Game Code</th>
                                        <th>Date</th>
                                        <th>Players</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for game in recent_games %}
                                    <tr>
                                        <td>{{ game.game_code }}</td>
                                        <td>{{ game.date.strftime('%Y-%m-%d %H:%M') }}</td>
                                        <td>{{ game.players|length }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
